.home{
  padding: 1rem;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: #C4D7F8 ;
}

.home div {
 
  text-align: center;
  margin: 3rem 0;
}
/* .home div p{
  text-align: center;
} */

.home button{
  padding: 0.5rem 2rem;
  outline: none;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

